/* general */
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
    background-color: #fffffe;
    color: #0f0e17;
}

h1 {
    color: #e53170;
    font-size: 40px;
    margin: 50px 0px;
    text-align: center;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.debug {
    border: 1px solid rgb(0, 128, 255);
    background-color: rgba(0, 128, 255, 0.24);
}

.container {
    width: 90%;
    max-width: 1170px;
    padding-top: 20px;
    margin: 0 auto;
    
}

.text {
    text-align: center;
}


/* CORREZIONE: AGGINGERE FLOAT A IMG E INFO */

.row {
    padding-top: 20px;
}

.row img {
    height: 100px;
    vertical-align: middle;
}


.col .info {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5rem;
    padding-left: 15px;
}

.row .col {
    float: left;
    width: calc(100% / 3);
    height: 100px;
    padding: 0 1rem;
    margin-bottom: 40px;
    min-width: 344px;
    
}

.card {
    background-color: #0f0e17;
    color: #fffffe;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.50)
}

a {
    color: rgb(0, 191, 255);
    text-decoration: none;
}